In [5]:
import pandas as pd
import numpy as np
import requests
import bs4 as bs
import urllib.request

In [6]:
df=pd.read_csv("C:\\Users\\Ankan Dutta\\Desktop\\DTI\\datasets\\2000-2006.csv")

In [7]:
df

,Title,Director,Cast,Genre,Music director,Year
0,Aaghaaz,Yogesh Ishwar,"Sunil Shetty, Sushmita Sen, Namrata Shirodkar",Thriller,Anu Malik,2000.0
1,Aaj Ka Ravan,Imran Khalid,"Kasam Ali, Mithun Chakraborty",Drama,Pappu Pawan,2000.0
2,Anjaane,Ravi Rai,"Raveena Tandon, Vivek Mushran",Romance,Rajesh Roshan,2000.0
3,Anokha Moti,Anshul Singla,"Sanjay Sharma, Arjun Chakraborty, Nayab Aftab",Family,NaN,2000.0
4,Apradhi Kaun,Mohan Bhakri,"Ishrat Ali, Shagufta Ali",Thriller,NaN,2000.0
...,...,...,...,...,...,...
625,White Rainbow,Dharan Mandarayar,"Sonali Kulkarni, Amardeep Jha, Shameem Shaikh,...",Drama,NaN,2006.0
626,Woh Lamhe...,Mohit Suri,"Kangana Ranaut, Shiney Ahuja","Drama, Romance, Social",NaN,2006.0
627,Yun Hota Toh Kya Hota,Nasseruddin Shah,"Ayesha Takia, Konkona Sen Sharma, Paresh Rawal",Drama,NaN,2006.0
628,Zinda,Sanjay Gupta,"Sanjay Dutt, John Abraham, Lara Dutta, Celina ...",Thriller,NaN,2006.0
629,Zindaggi Rocks,Tanuja Chandra,"Sushmita Sen, Shiney Ahuja",Drama,NaN,2006.0

In [8]:
df_hin = df[['Title','Director','Cast','Genre']]

In [9]:
df_hin

,Title,Director,Cast,Genre
0,Aaghaaz,Yogesh Ishwar,"Sunil Shetty, Sushmita Sen, Namrata Shirodkar",Thriller
1,Aaj Ka Ravan,Imran Khalid,"Kasam Ali, Mithun Chakraborty",Drama
2,Anjaane,Ravi Rai,"Raveena Tandon, Vivek Mushran",Romance
3,Anokha Moti,Anshul Singla,"Sanjay Sharma, Arjun Chakraborty, Nayab Aftab",Family
4,Apradhi Kaun,Mohan Bhakri,"Ishrat Ali, Shagufta Ali",Thriller
...,...,...,...,...
625,White Rainbow,Dharan Mandarayar,"Sonali Kulkarni, Amardeep Jha, Shameem Shaikh,...",Drama
626,Woh Lamhe...,Mohit Suri,"Kangana Ranaut, Shiney Ahuja","Drama, Romance, Social"
627,Yun Hota Toh Kya Hota,Nasseruddin Shah,"Ayesha Takia, Konkona Sen Sharma, Paresh Rawal",Drama
628,Zinda,Sanjay Gupta,"Sanjay Dutt, John Abraham, Lara Dutta, Celina ...",Thriller
629,Zindaggi Rocks,Tanuja Chandra,"Sushmita Sen, Shiney Ahuja",Drama

In [13]:
!pip install tmdbv3api

Requirement already satisfied: tmdbv3api in c:\users\ankan dutta\appdata\local\programs\python\python311\lib\site-packages (1.7.7)
Requirement already satisfied: requests in c:\users\ankan dutta\appdata\local\programs\python\python311\lib\site-packages (from tmdbv3api) (2.28.2)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\ankan dutta\appdata\local\programs\python\python311\lib\site-packages (from requests->tmdbv3api) (3.0.1)
Requirement already satisfied: idna<4,>=2.5 in c:\users\ankan dutta\appdata\local\programs\python\python311\lib\site-packages (from requests->tmdbv3api) (3.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\ankan dutta\appdata\local\programs\python\python311\lib\site-packages (from requests->tmdbv3api) (1.26.14)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\ankan dutta\appdata\local\programs\python\python311\lib\site-packages (from requests->tmdbv3api) (2022.12.7)

[notice] A new release of pip is available: 23.0.1 -> 23.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [14]:
from tmdbv3api import TMDb
import json
import requests
tmdb = TMDb()
tmdb.api_key = '28a4d63a51fd003a26ae5b50b3d0832d'

In [15]:
from tmdbv3api import Movie
tmdb_movie = Movie() 
def get_genre(x):
    genres = []
    result = tmdb_movie.search(x)
    if not result:
      return np.NaN
    else:
      movie_id = result[0].id
      response = requests.get('https://api.themoviedb.org/3/movie/{}?api_key={}'.format(movie_id,tmdb.api_key))
      data_json = response.json()
      if data_json['genres']:
          genre_str = " " 
          for i in range(0,len(data_json['genres'])):
              genres.append(data_json['genres'][i]['name'])
          return genre_str.join(genres)
      else:
          return np.NaN

In [16]:
df_hin['genres'] = df_hin['Title'].map(lambda x: get_genre(str(x)))

C:\Users\Ankan Dutta\AppData\Local\Temp\ipykernel_9152\1795245983.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_hin['genres'] = df_hin['Title'].map(lambda x: get_genre(str(x)))

In [10]:
df_hin

,Title,Director,Cast,Genre
0,Aaghaaz,Yogesh Ishwar,"Sunil Shetty, Sushmita Sen, Namrata Shirodkar",Thriller
1,Aaj Ka Ravan,Imran Khalid,"Kasam Ali, Mithun Chakraborty",Drama
2,Anjaane,Ravi Rai,"Raveena Tandon, Vivek Mushran",Romance
3,Anokha Moti,Anshul Singla,"Sanjay Sharma, Arjun Chakraborty, Nayab Aftab",Family
4,Apradhi Kaun,Mohan Bhakri,"Ishrat Ali, Shagufta Ali",Thriller
...,...,...,...,...
625,White Rainbow,Dharan Mandarayar,"Sonali Kulkarni, Amardeep Jha, Shameem Shaikh,...",Drama
626,Woh Lamhe...,Mohit Suri,"Kangana Ranaut, Shiney Ahuja","Drama, Romance, Social"
627,Yun Hota Toh Kya Hota,Nasseruddin Shah,"Ayesha Takia, Konkona Sen Sharma, Paresh Rawal",Drama
628,Zinda,Sanjay Gupta,"Sanjay Dutt, John Abraham, Lara Dutta, Celina ...",Thriller
629,Zindaggi Rocks,Tanuja Chandra,"Sushmita Sen, Shiney Ahuja",Drama

In [11]:
df_hin = df_hin.rename(columns={'Director':'director_name'})

In [12]:
df_hin = df_hin.rename(columns={'Genre':'genres'})

In [13]:
def get_actor1(x):
    return ((x.split("screenplay); ")[-1]).split(", ")[0])

In [14]:
df_hin['actor_1_name'] = df_hin['Cast'].map(lambda x: get_actor1(str(x)))

In [15]:
def get_actor2(x):
    if len((x.split("screenplay); ")[-1]).split(", ")) < 2:
        return np.NaN
    else:
        return ((x.split("screenplay); ")[-1]).split(", ")[1])

In [16]:
df_hin['actor_2_name'] = df_hin['Cast'].map(lambda x: get_actor2(str(x)))

In [17]:
def get_actor3(x):
    if len((x.split("screenplay); ")[-1]).split(", ")) < 3:
        return np.NaN
    else:
        return ((x.split("screenplay); ")[-1]).split(", ")[2])

In [18]:
df_hin['actor_3_name'] = df_hin['Cast'].map(lambda x: get_actor3(str(x)))

In [19]:
df_hin

,Title,director_name,Cast,genres,actor_1_name,actor_2_name,actor_3_name
0,Aaghaaz,Yogesh Ishwar,"Sunil Shetty, Sushmita Sen, Namrata Shirodkar",Thriller,Sunil Shetty,Sushmita Sen,Namrata Shirodkar
1,Aaj Ka Ravan,Imran Khalid,"Kasam Ali, Mithun Chakraborty",Drama,Kasam Ali,Mithun Chakraborty,NaN
2,Anjaane,Ravi Rai,"Raveena Tandon, Vivek Mushran",Romance,Raveena Tandon,Vivek Mushran,NaN
3,Anokha Moti,Anshul Singla,"Sanjay Sharma, Arjun Chakraborty, Nayab Aftab",Family,Sanjay Sharma,Arjun Chakraborty,Nayab Aftab
4,Apradhi Kaun,Mohan Bhakri,"Ishrat Ali, Shagufta Ali",Thriller,Ishrat Ali,Shagufta Ali,NaN
...,...,...,...,...,...,...,...
625,White Rainbow,Dharan Mandarayar,"Sonali Kulkarni, Amardeep Jha, Shameem Shaikh,...",Drama,Sonali Kulkarni,Amardeep Jha,Shameem Shaikh
626,Woh Lamhe...,Mohit Suri,"Kangana Ranaut, Shiney Ahuja","Drama, Romance, Social",Kangana Ranaut,Shiney Ahuja,NaN
627,Yun Hota Toh Kya Hota,Nasseruddin Shah,"Ayesha Takia, Konkona Sen Sharma, Paresh Rawal",Drama,Ayesha Takia,Konkona Sen Sharma,Paresh Rawal
628,Zinda,Sanjay Gupta,"Sanjay Dutt, John Abraham, Lara Dutta, Celina ...",Thriller,Sanjay Dutt,John Abraham,Lara Dutta
629,Zindaggi Rocks,Tanuja Chandra,"Sushmita Sen, Shiney Ahuja",Drama,Sushmita Sen,Shiney Ahuja,NaN

In [20]:
df_hin = df_hin.rename(columns={'Title':'movie_title'})

In [21]:
new_df = df_hin.loc[:,['director_name','actor_1_name','actor_2_name','actor_3_name','genres','movie_title']]

In [22]:
new_df

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title
0,Yogesh Ishwar,Sunil Shetty,Sushmita Sen,Namrata Shirodkar,Thriller,Aaghaaz
1,Imran Khalid,Kasam Ali,Mithun Chakraborty,NaN,Drama,Aaj Ka Ravan
2,Ravi Rai,Raveena Tandon,Vivek Mushran,NaN,Romance,Anjaane
3,Anshul Singla,Sanjay Sharma,Arjun Chakraborty,Nayab Aftab,Family,Anokha Moti
4,Mohan Bhakri,Ishrat Ali,Shagufta Ali,NaN,Thriller,Apradhi Kaun
...,...,...,...,...,...,...
625,Dharan Mandarayar,Sonali Kulkarni,Amardeep Jha,Shameem Shaikh,Drama,White Rainbow
626,Mohit Suri,Kangana Ranaut,Shiney Ahuja,NaN,"Drama, Romance, Social",Woh Lamhe...
627,Nasseruddin Shah,Ayesha Takia,Konkona Sen Sharma,Paresh Rawal,Drama,Yun Hota Toh Kya Hota
628,Sanjay Gupta,Sanjay Dutt,John Abraham,Lara Dutta,Thriller,Zinda
629,Tanuja Chandra,Sushmita Sen,Shiney Ahuja,NaN,Drama,Zindaggi Rocks

In [23]:
print(new_df.dtypes)

director_name    object
actor_1_name     object
actor_2_name     object
actor_3_name     object
genres           object
movie_title      object
dtype: object

In [24]:
for column in ['actor_1_name', 'actor_2_name', 'actor_3_name', 'director_name', 'genres']:
    for i in range(len(new_df)):
        new_df.at[i, column] = str(new_df.at[i, column])

new_df['comb'] = new_df['actor_1_name'] + ' ' + new_df['actor_2_name'] + ' ' + new_df['actor_3_name'] + ' ' + new_df['director_name'] + ' ' + new_df['genres']

In [25]:
print(new_df.dtypes)

director_name    object
actor_1_name     object
actor_2_name     object
actor_3_name     object
genres           object
movie_title      object
comb             object
dtype: object

In [26]:
new_df.isna().sum()

director_name    0
actor_1_name     0
actor_2_name     0
actor_3_name     0
genres           0
movie_title      3
comb             0
dtype: int64

In [27]:
new_df22 = new_df.dropna(how='any')

In [28]:
new_df22.isna().sum()

director_name    0
actor_1_name     0
actor_2_name     0
actor_3_name     0
genres           0
movie_title      0
comb             0
dtype: int64

In [29]:
new_df22['movie_title'] = new_df22['movie_title'].str.lower()

C:\Users\Ankan Dutta\AppData\Local\Temp\ipykernel_16976\2732328091.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df22['movie_title'] = new_df22['movie_title'].str.lower()

In [30]:
new_df22

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title,comb
0,Yogesh Ishwar,Sunil Shetty,Sushmita Sen,Namrata Shirodkar,Thriller,aaghaaz,Sunil Shetty Sushmita Sen Namrata Shirodkar Yo...
1,Imran Khalid,Kasam Ali,Mithun Chakraborty,nan,Drama,aaj ka ravan,Kasam Ali Mithun Chakraborty nan Imran Khalid ...
2,Ravi Rai,Raveena Tandon,Vivek Mushran,nan,Romance,anjaane,Raveena Tandon Vivek Mushran nan Ravi Rai Romance
3,Anshul Singla,Sanjay Sharma,Arjun Chakraborty,Nayab Aftab,Family,anokha moti,Sanjay Sharma Arjun Chakraborty Nayab Aftab An...
4,Mohan Bhakri,Ishrat Ali,Shagufta Ali,nan,Thriller,apradhi kaun,Ishrat Ali Shagufta Ali nan Mohan Bhakri Thriller
...,...,...,...,...,...,...,...
625,Dharan Mandarayar,Sonali Kulkarni,Amardeep Jha,Shameem Shaikh,Drama,white rainbow,Sonali Kulkarni Amardeep Jha Shameem Shaikh Dh...
626,Mohit Suri,Kangana Ranaut,Shiney Ahuja,nan,"Drama, Romance, Social",woh lamhe...,Kangana Ranaut Shiney Ahuja nan Mohit Suri Dra...
627,Nasseruddin Shah,Ayesha Takia,Konkona Sen Sharma,Paresh Rawal,Drama,yun hota toh kya hota,Ayesha Takia Konkona Sen Sharma Paresh Rawal N...
628,Sanjay Gupta,Sanjay Dutt,John Abraham,Lara Dutta,Thriller,zinda,Sanjay Dutt John Abraham Lara Dutta Sanjay Gup...
629,Tanuja Chandra,Sushmita Sen,Shiney Ahuja,nan,Drama,zindaggi rocks,Sushmita Sen Shiney Ahuja nan Tanuja Chandra D...

In [31]:
old_df = pd.read_csv('C:\\Users\\Ankan Dutta\\Desktop\\DTI\\datasets\\main_data.csv')

In [32]:
old_df

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title,comb
0,James Cameron,CCH Pounder,Joel David Moore,Wes Studi,Action Adventure Fantasy Sci-Fi,avatar,CCH Pounder Joel David Moore Wes Studi James C...
1,Gore Verbinski,Johnny Depp,Orlando Bloom,Jack Davenport,Action Adventure Fantasy,pirates of the caribbean: at world's end,Johnny Depp Orlando Bloom Jack Davenport Gore ...
2,Sam Mendes,Christoph Waltz,Rory Kinnear,Stephanie Sigman,Action Adventure Thriller,spectre,Christoph Waltz Rory Kinnear Stephanie Sigman ...
3,Christopher Nolan,Tom Hardy,Christian Bale,Joseph Gordon-Levitt,Action Thriller,the dark knight rises,Tom Hardy Christian Bale Joseph Gordon-Levitt ...
4,Doug Walker,Doug Walker,Rob Walker,unknown,Documentary,star wars: episode vii - the force awakens ...,Doug Walker Rob Walker unknown Doug Walker Doc...
...,...,...,...,...,...,...,...
7885,Tigmanshu Dhulia,Saif Ali Khan,Sonakshi Sinha,Jimmy Sheirgill,Comedy/Crime/Romance,bullet raja,Saif Ali Khan Sonakshi Sinha Jimmy Sheirgill T...
7886,Prabhudeva,Shahid Kapoor,Sonakshi Sinha,Sonu Sood,Action/Romance,r... rajkumar,Shahid Kapoor Sonakshi Sinha Sonu Sood Prabhud...
7887,Kaizad Gustad,Sachiin J Joshi,Naseeruddin Shah,sunny Leone[116],Thriller/Comedy,jackpot,Sachiin J Joshi Naseeruddin Shah sunny Leone[1...
7888,Gurmmet Singh,Dimple Kapadia,Manu Rishi,Manjot Singh,Drama,what the fish,Dimple Kapadia Manu Rishi Manjot Singh Gurmmet...
7889,Vijay Krishna Acharya,Aamir Khan,Abhishek Bachchan,Katrina Kaif,Action,dhoom 3,Aamir Khan Abhishek Bachchan Katrina Kaif Vija...

In [33]:
final_df = old_df.append(new_df22,ignore_index=True)

C:\Users\Ankan Dutta\AppData\Local\Temp\ipykernel_16976\1166909226.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final_df = old_df.append(new_df22,ignore_index=True)

In [34]:
final_df

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title,comb
0,James Cameron,CCH Pounder,Joel David Moore,Wes Studi,Action Adventure Fantasy Sci-Fi,avatar,CCH Pounder Joel David Moore Wes Studi James C...
1,Gore Verbinski,Johnny Depp,Orlando Bloom,Jack Davenport,Action Adventure Fantasy,pirates of the caribbean: at world's end,Johnny Depp Orlando Bloom Jack Davenport Gore ...
2,Sam Mendes,Christoph Waltz,Rory Kinnear,Stephanie Sigman,Action Adventure Thriller,spectre,Christoph Waltz Rory Kinnear Stephanie Sigman ...
3,Christopher Nolan,Tom Hardy,Christian Bale,Joseph Gordon-Levitt,Action Thriller,the dark knight rises,Tom Hardy Christian Bale Joseph Gordon-Levitt ...
4,Doug Walker,Doug Walker,Rob Walker,unknown,Documentary,star wars: episode vii - the force awakens ...,Doug Walker Rob Walker unknown Doug Walker Doc...
...,...,...,...,...,...,...,...
8512,Dharan Mandarayar,Sonali Kulkarni,Amardeep Jha,Shameem Shaikh,Drama,white rainbow,Sonali Kulkarni Amardeep Jha Shameem Shaikh Dh...
8513,Mohit Suri,Kangana Ranaut,Shiney Ahuja,nan,"Drama, Romance, Social",woh lamhe...,Kangana Ranaut Shiney Ahuja nan Mohit Suri Dra...
8514,Nasseruddin Shah,Ayesha Takia,Konkona Sen Sharma,Paresh Rawal,Drama,yun hota toh kya hota,Ayesha Takia Konkona Sen Sharma Paresh Rawal N...
8515,Sanjay Gupta,Sanjay Dutt,John Abraham,Lara Dutta,Thriller,zinda,Sanjay Dutt John Abraham Lara Dutta Sanjay Gup...
8516,Tanuja Chandra,Sushmita Sen,Shiney Ahuja,nan,Drama,zindaggi rocks,Sushmita Sen Shiney Ahuja nan Tanuja Chandra D...

In [140]:
final_df.to_csv('C:\\Users\\Ankan Dutta\\Desktop\\DTI\\datasets\\main_data.csv',index=False)